<%grand_total = []%>
<table class="table table-striped table-bordered table-details">
<thead>
   <tr>
    <th>From</th>
    <th>To</th>    
    <th>L</th>
    <th>W</th>
    <th>H</th>
    <th>Wt</th>
    <th>Date</th>    
    <th>Company</th>
    <th>Price</th>
    <th>&nbsp;</th>
  </tr> 
</thead>
<tbody>
  <% @cart.each do |key, value| %>
    <% freight = Freight.find(value) %>
    <% booking = Booking.find(key)%>  
    <tr>
      <td><%= freight.source.full_address%></td>
      <td><%= freight.destination.full_address%></td>    
      <td><%= booking.length%></td>
      <td><%= booking.width%></td>
      <td><%= booking.height%></td>
      <td><%= booking.weight%></td>
      <td><%= delivery_date(booking, freight).strftime("%-d, %b") %></td>
      <td><%= freight.seller.company_name %></td>
      <td><%= freight.price%>
        <%grand_total << freight.price%>
      </td>
      <td>
        <%= link_to get_quote_booking_path(id: booking.id), class: 'btn btn-inverse' do %>
          <i class="fa fa-pencil"></i>
        <%end%>  
      </td>
    </tr>
  <%end%>
  <tr>
    <td colspan="6">
      Grand Total
    </td>
    
    <td colspan="2">
      <%= grand_total.inject(:+)%>
    </td>
  </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-xs-12">
    <div class="form-group text-right">
      <%= link_to get_quote_booking_path(id:session[:booking_ids].first), class: 'btn btn-inverse' do %>
        <i class="fa fa-angle-double-left"></i>
        Go Back
      <%end%>
      <%= link_to 'Submit',  '/bookings/payment', class: 'btn btn-success' %>
    </div>

  </div>

</div>

<style>
  .table-details thead tr {background: #d8f2fe;}
</style>