
<div class="result-page">
  <div class="panel result-heading">
      <div class="row">
        <div class="col-xs-2">
          <div class="btn-group frmto-drpdn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-marker"></i> From - To <span class="caret"></span> <span class="frmto-count">(<%= session['booking_ids'].present? ? session['booking_ids'].count : 1 %>)</span></button>
            <ul class="dropdown-menu frmto-menu" role="menu">
              <% (session['booking_ids'] || [@draft_booking.id]).each do |booking_id| %>
                <% booking = Booking.find(booking_id)%>
                <li class="loc-item" id='booking_<%= booking_id%>'>
                  <div class="loc-item-in">
                    <%= link_to get_quote_booking_path(id: booking.id), class: 'loc-item-link' do %>
                      <span class="loc-pos"><%= booking.source.port%></span>
                      <span class="loc-pos"><%= booking.destination.port%></span>
                    <%end%>
                    <button class="btn btn-danger btn-del" type="button" onclick="remove_booking(<%= booking_id%>, this)">&times;</button>
                  </div>    
                </li>
              <%end%>  
            </ul>
          </div>  
        </div>
        <div class="col-xs-7">
          <ul class="list-inline order-label-heading" id="searched_booking" search_booking_id="<%=@draft_booking.id%>">
            <li class="col-xs-1">
              <div class="form-group">
                <label>L</label>
                <%=text_field_tag "search_length", @draft_booking.length, {class: "form-control"}%>
              </div>
            </li>

            <li class="col-xs-1">
              <div class="form-group">
                <label>W</label>
                <%=text_field_tag "search_width", @draft_booking.width, {class: "form-control"}%>
              </div>
            </li>

            <li class="col-xs-1">
              <div class="form-group">
                <label>H</label>
                <%=text_field_tag "search_height", @draft_booking.height, {class: "form-control"}%>
              </div>
            </li>

            <li class="col-xs-1">
              <div class="form-group">
                <label>Wt(kg)</label>
                <%=text_field_tag "search_weight", @draft_booking.weight, {class: "form-control"}%>
              </div>
            </li>
            <li class="col-xs-2">
              <div class="form-group">
                <label>Date</label>
                <div class="input-group date" data-provide="datepicker">
                <%= text_field_tag "search_date", @draft_booking.pick_up_date, class: "form-control",placeholder: "DD/MM/YYYY",'data-date-format'=> "dd/mm/yyyy" %>
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Min
              </span>
              <span class="ol-val">
                <%= @minimum_freight_price || 0%>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Average
              </span>
              <span class="ol-val">
                <%= @average_price || 0%>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Fastest
              </span>
              <span class="ol-val">
                <%= @fastest_delivery || 0%>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul class="list-inline order-sort">

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Download" data-toggle="tooltip" data-placement="top" onclick="download_csv(<%= @draft_booking.id%>)">Download</button></li>
 
            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning add_discount" title="Eligible for Discount" data-toggle="tooltip" data-placement="top" onclick="filter_booking_with_discount(<%=@draft_booking.id%>)">With Discount</button></li>

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Total Minutes" data-toggle="tooltip" data-placement="top" onclick="triggerClickEvent(<%= @draft_booking.id%>, <%= @min_price_freight%>)">Total Minimum</button></li>

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Total Fastest" data-toggle="tooltip" data-placement="top" onclick="triggerClickEvent(<%= @draft_booking.id%>, <%= @fastest_delivery_freight%>)">Total Fastest</button></li>

          </ul>  
        </div>
      </div>
  </div>
  
  <div class="result-content">
    <div class="row">
      <div class="col-xs-2">
        <%= form_tag filter_freights_freights_path, id: "freights-filters" ,method: "GET" do %>
          <ul class="list-group">
            <li class="list-group-item"><b>Filter Data</b></li>
            <li class="list-group-item">
              <small>Price </small><%= text_field_tag :max_price, params[:max_price], id: "price-range-txt", size: 10, placeholder: "Max Price" %><br />
              <input type=range min=5000 max=1000000 value=100 id="price-range">
            </li>
            <li class="list-group-item">
              <small>Time </small><%= text_field_tag :transit_time, params[:transit_time], id: "transit-time-txt", size: 10, placeholder: "Transit Time" %><br />
              <input type=range min=2 max=60 value=2 id="transit-time">
            </li>
            <li class="list-group-item">
              <%= select_tag "shipper_ids", options_from_collection_for_select(@sellers, "id", "company_name",params[:shipper_ids]), prompt: "Select Shipper", multiple: true %>
              <%= hidden_field_tag "booking_id", @draft_booking.id, id: "booking_id_fltr" %>
            </li>
            <li class="list-group-item"><%=submit_tag 'Apply Filter', class: "btn btn-sm btn-block btn-warning" %></li>
          </ul>
        <% end %>
      </div>
      <div class='searched-freight'>
        <% if @freight_rates.any? %>
          <%= render 'result_content'%>
        <% else %>
          <%= render 'no_freights' %>
        <%end%>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="disccountModal" tabindex="-1" role="dialog" aria-labelledby="disccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content disccount-content">
    </div>
  </div>
</div>

