<div class="result-page">
  <div class="panel result-heading">
      <div class="row">
        <div class="col-xs-2">
          <div class="btn-group frmto-drpdn">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-map-marker"></i> From - To <span class="caret"></span> <span class="frmto-count">(<%= session['booking_ids'].present? ? session['booking_ids'].count : 1 %>)</span></button>
            <ul class="dropdown-menu frmto-menu" role="menu">
              <% (session['booking_ids'] || [@draft_booking.id]).each do |booking_id| %>
                <% booking = Booking.find(booking_id)%>
                <li class="loc-item" id='booking_<%= booking_id%>'>
                  <div class="loc-item-in">
                    <%= link_to get_quote_booking_path(id: booking.id), class: 'loc-item-link' do %>
                      <span class="loc-pos"><%= booking.source.port%></span>
                      <span class="loc-pos"><%= booking.destination.port%></span>
                    <%end%>
                    <button class="btn btn-danger btn-del" type="button" onclick="remove_booking(<%= booking_id%>, this)">&times;</button>
                  </div>    
                </li>
              <%end%>  
            </ul>
          </div>  
        </div>
        <div class="col-xs-7">
          <ul class="list-inline order-label-heading">
            <li class="col-xs-1">
              <span class="ol-lab">
                L
              </span>
              <span class="ol-val">
                <%= @draft_booking.length%>
              </span>
            </li>

            <li class="col-xs-1">
              <span class="ol-lab">
                W
              </span>
              <span class="ol-val">
                <%= @draft_booking.width%>
              </span>
            </li>

            <li class="col-xs-1">
              <span class="ol-lab">
                H
              </span>
              <span class="ol-val">
                <%= @draft_booking.height%>
              </span>
            </li>

            <li class="col-xs-1">
              <span class="ol-lab">
                Wt(kg)
              </span>
              <span class="ol-val">
                <%= @draft_booking.weight%>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Date
              </span>
              <span class="ol-val">
                <%= @draft_booking.pick_up_date %>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Min
              </span>
              <span class="ol-val">
                <%= @minimum_freight_price || 0%>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Average
              </span>
              <span class="ol-val">
                <%= @average_price || 0%>
              </span>
            </li>
            <li class="col-xs-2">
              <span class="ol-lab">
                Fastest
              </span>
              <span class="ol-val">
                <%= @fastest_delivery || 0%>
              </span>
            </li>
          </ul>
        </div>
        <div class="col-xs-3">
          <ul class="list-inline order-sort">

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Download" data-toggle="tooltip" data-placement="top" onclick="download_csv(<%= @draft_booking.id%>)">Download</button></li>
 
            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Eligible for Discount" data-toggle="tooltip" data-placement="top">With Discount</button></li>

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Total Minutes" data-toggle="tooltip" data-placement="top" onclick="triggerClickEvent(<%= @draft_booking.id%>, <%= @min_price_freight%>)">Total Minimum</button></li>

            <li class="col-xs-6"><button type="button" class="btn btn-sm btn-block btn-warning" title="Total Fastest" data-toggle="tooltip" data-placement="top" onclick="triggerClickEvent(<%= @draft_booking.id%>, <%= @fastest_delivery_freight%>)">Total Fastest</button></li>

          </ul>  
        </div>
      </div>
  </div>
  
  <div class="result-content">
    <div class="row">
      <div class='searched-freight'>
        <% if @freight_rates.any? %>
          <%= render 'result_content'%>
        <% else %>
          <%= render 'no_freights' %>
        <%end%>
      </div>
      <div class="col-xs-2">
        <div class="slctd-sr-list cart_detail">
          <%= render :partial => 'bookings/cart_details'%> 
        </div>           
      
        <div class="ssdd-btn btn-group">
          <a href="#" class="btn btn-default dropdown" data-toggle="dropdown">
           Selected Shippers <span class="caret"></span>
          </a>
          <%= hidden_field_tag "booking_id", @draft_booking.id, id: "booking_id"%>
          <ul class="dropdown-menu ss-dd-list" role="menu">
            <% @sellers.each do |seller| %>
              <li class="dd-li seller-filter">
                <label for="checkbox_1"><%= seller.company_name %></label>
                <input type="checkbox" id="<%= seller.id%>" class='seller-chk' name="filter[seller_ids][]" value="<%= seller.id%>" />
              </li>
            <% end %>
          </ul>       
        </div>
      </div>
    </div>  
  
  </div>  
</div>