 <div class="row">
        <div class="col-xs-12">                  
            <ul class="nav nav-tabs page-tabs">
              <li><a href="#tab-b-1" data-toggle="tab">My Accounts</a></li>
              <li class="active"><a href="#tab-b-2" data-toggle="tab">Bookings</a></li>
            </ul>
            <div class="tab-content">

              <div class="tab-pane" id="tab-b-1"></div>
              <div class="tab-pane active" id="tab-b-2">
                <div class="coll-b-header">
                  <div class="row">
                    <div class="col-xs-1">#</div>
                    <div class="col-xs-3">Buyer Name</div>
                    <div class="col-xs-5 text-center">Total CBM/Weight</div>
                    <div class="col-xs-3 text-right">Details</div>
                  </div>
                </div>
                <div id="tab-col-parent-1">
                <%i=0%>
                <% @seller_bookings.each do |user,bookings| %>                
                <div class="panel panel-coll">
                  <div class="panel-heading" data-target="#bs-coll-<%=user%>" data-toggle="collapse" data-parent="#tab-col-parent-1">
                    <div class="row">
                      <div class="col-xs-1"><%=i+1%></div>                     
                      <div class="col-xs-3">BUYER</div>                     
                      <div class="col-xs-5 text-center">WEIGHT</div>
                      <div class="col-xs-3"><div class="text-right"><i class="fa fa-chevron-down"></i></div></div>
                    </div>                    
                  </div>
                  <div class="panel-body collapse" id="bs-coll-<%=user%>">
                    <div class="row">
                      <div class="col-xs-12">
                        <table class="table coll-table table-striped">
                          <colgroup>
                            <col class="tcol-1">
                            <col class="tcol-7">
                            <col class="tcol-8">
                            <col class="tcol-4">
                            <col class="tcol-5">
                            <col class="tcol-6">
                            <col class="tcol-2">
                            <col class="tcol-3">
                            <col class="tcol-9">
                            <col class="tcol-10">
                          </colgroup>
                            <thead>
                              <tr>
                              <th>From</th>
                              <th>To</th>
                              <th>Date</th>
                              <th>Cbm</th>
                              <th>Kg</th>
                              <th>Buyer Price</th>
                              <th>Status</th>
                              <th>Action</th>
                              <th>Remark</th>
                              </tr>
                            </thead>                       
                         <tbody>
                      <% bookings.each  do |booking| %>
                          <tr>
                            <td> <%=booking.source.full_address  %></td>
                            <td> <%=booking.destination.full_address  %></td>
                            <td> <%=booking.pick_up_date %></td>
                            <td> <%=booking.cbm %></td>
                            <td> <%=booking.weight %></td>
                            <td> <%=booking.spot_rate %></td>
                            <td id="status_field_<%=booking.id%>"><%=booking.aasm_state %></td>
                            <td> <%= button_tag ("Confirm"),:style=>"width:auto", :class=>"btn btn-warning btn-sm",:onclick=> "confirm_bookings(#{booking.id});" %>
                                <%= button_tag ("Reject"),:style=>"width:auto", :class=>"btn btn-success btn-sm",:onclick=> "reject_booking(#{booking.id});" %>
                            </td>
                            <td id="remark_field_<%=booking.id %>"> <%=booking.remark %> </td>
                          </tr>
                      <% end %>
                      </tbody>
                          <%i += 1%>                          
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <%end%>
                </div>                                                                 
              </div>
            </div>
        </div>
      </div>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Please add the remark/question for Buyer</h4>
      </div>
      <div class="modal-body">
        <%=hidden_field_tag 'id', nil ,:id => 'booking_hidden_field_id'%>
        <%= text_area_tag 'remark', nil, :size=> '75x5', :class=>'remark' %>
      </div>
      <div class="modal-footer">       
        <%= button_tag ("Submit"),:id=>"reject_submit",:class=>"btn btn-primary",:onclick=>"save_remarks()"%>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">

    function confirm_bookings(id){
        update_booking_status(id,'confirmed','-')
    }

    function reject_booking(id){
        $('#myModal').modal('show');
        $("#booking_hidden_field_id").val(id);
        $(".remark").val('');
    }

    function save_remarks(){
        var reason_to_reject = $(".remark").val();
        var booking_id = $("#booking_hidden_field_id").val();
        update_booking_status(booking_id,'hold',reason_to_reject);
        $('#myModal').modal('hide');
    }
</script>