<div class="container-fluid" xmlns:form="http://www.w3.org/1999/xhtml">
  <div class="right-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabbed-panel home-search-tabs">
            <ul class="nav nav-tabs panel-tabs">
              <li class="active"><a href="#tab-p1" data-toggle="tab">Mt Accounts</a></li>
              <li><a href="#tab-p1" data-toggle="tab">Booking</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-p1">
                <table class="table table-striped views-table">
                  <thead>
                  <tr style="width: 100%">
                    <th width="10%">Booking Id</th>
                    <th width="10%">From</th>
                    <th width="10%">To</th>
                    <th width="10%">Date</th>
                    <th width="10%">Cbm</th>
                    <th width="10%">Kg</th>
                    <th width="15%">Action</th>
                  </tr>
                  </thead>
                  <%if @seller_confirmed_bookings.present? %>
                      <tbody>
                      <% @seller_confirmed_bookings.each  do |booking| %>
                          <tr>
                            <td> <%=booking.id %></td>
                            <td> <%=booking.source  %></td>
                            <td> <%=booking.destination  %></td>
                            <td> <%=booking.pick_up_date %></td>
                            <td> <%=booking.cbm %></td>
                            <td> <%=booking.weight %></td>
                            <td>
                              <%= button_tag ("Reject"), :onclick=> "reject_booking(#{booking.id});" %>
                            </td>
                          </tr>
                      <% end %>
                      </tbody>
                  <%end%>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Please add the remark/question for Buyer</h4>
      </div>
      <div class="modal-body">
        <%=hidden_field_tag 'id', nil ,:id => 'booking_hidden_field_id'%>
        <%= text_area_tag 'remark', nil, :size=> '75x5', :class=>'remark' %>
      </div>
      <div class="modal-footer">
        <%= button_tag ("Just For Buyers Flow"),:class=>"btn btn-default col-xs-6",:data=>{'dismiss'=>"modal"} %>
        <%= button_tag ("Submit"),:id=>"reject_submit",:class=>"btn btn-primary",:onclick=>"save_remarks()"%>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    function reject_booking(id){
        $('#myModal').modal('show');
        $("#booking_hidden_field_id").val(id);
        $(".remark").val('');
    }

    function save_remarks(){
        var reason_to_reject = $(".remark").val();
        var booking_id = $("#booking_hidden_field_id").val();
        update_booking_status(booking_id,'hold',reason_to_reject);
        $('#myModal').modal('hide');
    }


</script>