<% search_parameter = session[:search].first || {}%>
<div class="container-fluid">
  <div class="right-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabbed-panel home-search-tabs">
            <ul class="nav nav-tabs panel-tabs freight-type">
              <li class="active"><a href="#tab-p1" data-toggle="tab">Sea</a></li>
              <li><a href="#tab-p1" data-toggle="tab">Air</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-p1">
                <%= form_tag search_freights_path, method: :post do%>
                  <div class="row">
                    <div class="col-xs-12 search-list">
                      <div class="search-row">
                        <div class="row search-item">
                          <div class="col-xs-3">
                            <div class="form-group">
                              <%= hidden_field_tag 'search[][freight_type]', 'sea', id: 'landing_tab_freight_type' %>
                              <label for="frm-search">
                                From
                              </label>
                              <%= country_select( "user", "source", {selected: search_parameter['source']}, { class: 'form-control selecter', placeholder: "Source", id: "frm-search", name: "search[][source]", required: 'required'}) %>
                            </div>
                          </div>
                          <div class="col-xs-3">
                            <div class="form-group">
                              <label for="to-search">
                                To
                              </label>
                              <%= country_select( "user", "destination", {selected: search_parameter['destination']}, { class: 'form-control selecter', placeholder: "Source", id: "frm-search", name: "search[][destination]", required: 'required'}) %>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-date">
                                Date
                              </label>
                              <div class="input-group date">
                              <%= text_field_tag "search[][date]", search_parameter['date'], class: "form-control", id: "hm-date", placeholder: "yyyy/mm/dd", required: 'required', data: { provide: "datepicker"}, 'data-date-format'=> "yyyy/mm/dd" %>
                              <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-cbm">
                                Cbm
                              </label>
                              <%= text_field_tag "search[][cbm]", search_parameter['cbm'], class: "form-control", id: "hm-cbm", placeholder: "Cbm", required: 'required' %>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-weight">
                                Kg
                              </label>
                              <%= text_field_tag "search[][weight]", search_parameter['weight'], class: "form-control", id: "hm-weight", placeholder: "Weight", required: 'required' %>
                            </div>
                            <div class="flow-remove">
                              <button type="button" class="btn btn-danger btn-remove">X</button>
                            </div>                            
                          </div>
                        </div>
                      </div>
                      <div class="form-group text-right">
                        <button type="button" class="btn btn-info btn-sm" id="search-more-btn"><i class="fa fa-plus"></i> Add more</button>
                      </div>  

                    </div>
                  </div>
                  <div class="form-group text-center">
                    <%= submit_tag 'Search', id: "home-search", class: "btn btn-primary" %>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $('ul.freight-type li').click(function(e){
    freight_type = e.target.innerHTML;
    $('#landing_tab_freight_type').val(freight_type.toLowerCase());
  });
</script>