<div class="container-fluid">
  <div class="right-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabbed-panel home-search-tabs">
            <ul class="nav nav-tabs panel-tabs">
              <li class="active"><a href="#tab-p1" data-toggle="tab">Sea</a></li>
              <li><a href="#tab-p1" data-toggle="tab">Air</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-p1">
                <%= form_tag search_freights_path, method: :get do%>
                  <div class="row">
                    <div class="col-xs-12 search-list">
                      <div class="search-row">
                        <div class="row search-item">
                          <div class="col-xs-3">
                            <div class="form-group">
                              <label for="frm-search">
                                From
                              </label>
                              <%= text_field_tag "source", nil, class: "form-control", id: "frm-search", placeholder: "Source" %>
                            </div>
                          </div>
                          <div class="col-xs-3">
                            <div class="form-group">
                              <label for="to-search">
                                To
                              </label>
                              <%= text_field_tag "destination", nil, class: "form-control", id: "to-search", placeholder: "Destination" %>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-date">
                                Date
                              </label>
                              <div class="input-group date">
                              <%= text_field_tag "date", nil, class: "form-control", id: "hm-date", placeholder: "mm/dd/yyyy", data: {provide: "datepicker"}  %>
                              <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-cbm">
                                Cbm
                              </label>
                              <%= text_field_tag "cbm", nil, class: "form-control", id: "hm-cbm", placeholder: "Cbm" %>
                            </div>
                          </div>
                          <div class="col-xs-2">
                            <div class="form-group">
                              <label for="hm-weight">
                                Kg
                              </label>
                              <%= text_field_tag "cbm", nil, class: "form-control", id: "hm-weight", placeholder: "Weight" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group text-right">
                        <button type="button" class="btn btn-info btn-sm" id="search-more-btn"><i class="fa fa-plus"></i> Add more</button>
                      </div>  

                    </div>
                  </div>
                  <div class="form-group text-center seperator-20">
                    <%= submit_tag 'Search', id: "home-search", class: "btn btn-primary"%>
                  </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
