<h1>your frieght rates are ready</h1>

<p>Complete your contact details below to have the best from 14 selected fright forwards displayed - with price guarantee </p>

Your contact details will only be used to secure your price guarantee.

<div class="row">
  <div class="form-horizontal col-xs-12">
    <p class="notice"><%= notice %></p>
    <%= form_for User.new, url: register_guest_user_path do |f| %>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.text_field :company_name,{placeholder: "Company Name", required: :required} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.text_field :first_name,{placeholder: "First Name",required: :required} %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.text_field :last_name,{placeholder: "Last Name",required: :required}%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.email_field :email, {placeholder: "Email", required: :required}%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.text_field :phone_number, {placeholder: "Phone Number",required: :required}%>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-9">
            <%= f.submit "SEE PRICES NOW!"%>
          </div>
        </div>
    <% end %>
  </div>
</div>