<div class="container-fluid">
  <div class="right-body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabbed-panel home-search-tabs">
            <ul class="nav nav-tabs panel-tabs">
              <li class="active"><a href="#tab-p1" data-toggle="tab">Mt Accounts</a></li>
              <li><a href="#tab-p1" data-toggle="tab">Booking</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab-p1">
                Add New Entry
                <%= form_for(@freight, url: {action: "create"}) do |f| %>
                    <% @freight.errors.full_messages.each do |msg| %>
                       <div class="text-danger"><li><%= msg %></li></div>
              <% end %>
                    <%= f.hidden_field 'seller_id', :value => current_user.id %>
                    <div class="row">
                      <div class="col-xs-12 search-list">

                        <div class="row form-group">
                          <div class="col-md-6">
                            <div class="col-md-3">From</div>
                            <div class="col-md-6"><%= f.select "source_id", options_from_collection_for_select(Location.all, "id", "full_address"), {:include_blank=>true}, class: 'form-control source-auto-complete', placeholder: "Source", id: "source", required: 'required'  %></div>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-md-3">To</div>
                            <div class="col-md-6"><%= f.select "destination_id", options_from_collection_for_select(Location.all, "id", "full_address"), {:include_blank=>true}, class: 'form-control source-auto-complete', placeholder: "Source", id: "source", required: 'required' %></div>
                          </div>

                        </div>

                        <div class="row form-group">
                          <div class="col-md-6">
                            <div class="col-md-3">L(Max)</div>
                            <div class="col-md-6"><%= f.text_field :length, class: "form-control", id: "hm-length", placeholder: "Length", required: 'required' %></div>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-md-3">H(Max)</div>
                            <div class="col-md-6"><%= f.text_field :width, class: "form-control", id: "hm-width", placeholder: "Width", required: 'required' %></div>
                          </div>

                          <div class="col-xs-6">
                            <div class="col-md-3">W(Max)</div>
                            <div class="col-md-6"><%= f.text_field :height, class: "form-control", id: "hm-height", placeholder: "Height", required: 'required' %></div>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-md-6">
                            <div class="col-md-3">Wt. From</div>
                            <div class="col-md-6"> <%= f.text_field "min_weight", class: "form-control", id: "hm-weight", placeholder: "Wt. From", required: 'required' %></div>
                          </div>
                          <div class="col-md-6">
                            <div class="col-md-3">Wt.To</div>
                            <div class="col-md-6"> <%= f.text_field "max_weight", class: "form-control", id: "hm-weight", placeholder: "Wt-To", required: 'required' %></div>
                          </div>
                        </div>


                          <div class="row form-group">
                            <div class="col-xs-6">
                              <div class="col-md-3">Date From</div>
                              <div class="col-md-6 input-group date">
                                <%= f.text_field "start_date", class: "form-control", id: "hm-date", placeholder: "yyyy/mm/dd", required: 'required', data: { provide: "datepicker"}, 'data-date-format'=> "yyyy/mm/dd" %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <div class="col-md-3">Date To</div>
                              <div class="col-md-6 input-group date">
                                <%= f.text_field "end_date", class: "form-control", id: "hm-date", placeholder: "yyyy/mm/dd", required: 'required', data: { provide: "datepicker"}, 'data-date-format'=> "yyyy/mm/dd" %>
                                <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </span>
                              </div>
                            </div>
                          </div>

                        <div class="row form-group">

                          <div class="col-md-6">
                            <div class="col-md-3">Price</div>
                            <div class="col-md-6"> <%= f.text_field "price", class: "form-control", id: "hm-weight", placeholder: "Price", required: 'required' %></div>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-xs-6">
                            <div class="col-md-3">Transit Time(In days)</div>
                            <div class="col-md-6"> <%= f.text_field "transition_days", class: "form-control", id: "hm-weight", placeholder: "delivery_days", required: 'required' %></div>
                          </div>

                        <div class="row form-group">
                          <div class="col-xs-6">
                            <div class="col-md-3">freight_type</div>
                            <div class="col-md-6"> <%= f.select "freight_type", ['sea', 'air'],{}, {class: "form-control selecter", id: "hm-weight", required: 'required'} %></div>
                          </div>
                        </div>

                        <div class="row form-group">
                          <div class="col-xs-6">
                            <div class="col-md-3">Remark</div>
                            <div class="col-md-6"> <%= f.text_area :remark, class: "form-control", id: "hm-remark", placeholder: "Remark", required: 'required'%></div>
                          </div>
                        </div>

                      </div>

                    </div>
                    <div class="control-group">
                      <%= submit_tag 'Create', :class => 'btn btn-primary' %>
                      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :class => 'btn btn-danger' %>
                    </div>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".source-auto-complete" ).combobox();
    $(".destination-auto-complete" ).combobox();
  });
</script>
