<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "layouts/head"%>
</head>
<body class="air-bg">
  <%= render :partial => "layouts/header" %>
    <% if  user_signed_in? && current_user.seller?  %>
      <%= render :partial => "layouts/seller_side_bar" %>
    <%else%>
     <%= render :partial => "layouts/buyer_side_bar" %>
    <%end%>
  <div class="container-fluid">
    <div class="right-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <%= yield %>
          </div> 
        </div> 
      </div>  
    </div>  
  </div>    
  <%#= render partial: "layouts/footer"%>
</body>
</html>
