<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "layouts/head"%>
  <%= javascript_include_tag 'application'%> 
</head>
<%
  background_color = current_user && current_user.seller? ? "#f8f8f8" : "#cae5ff"
%>
<% body_class = request.url == root_url ? "air-bg" : "" %>
<body class="<%= body_class %>">
<p class="notice" style="color: #ff0000"><%= notice %></p>
  <%= render :partial => "layouts/header" %>
  <% if  user_signed_in? && current_user.seller?  %>
    <%= render :partial => "layouts/seller_side_bar" %>
  <%elsif user_signed_in? && current_user.buyer?%>
    <%= render :partial => "layouts/buyer_side_bar" %>
  <%else%>
    <%= render :partial => "layouts/side_bar" %>    
  <%end%>
  <div class="container-fluid">
    <div class="right-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <%= yield %>
          </div> 
        </div> 
      </div>  
    </div>  
  </div>
  <% unless user_signed_in?%>
    <%= render template: "devise/sessions/new", locals: { resource: User.new, resource_name: "user" }%>
  <% end %>
  <%= render partial: "layouts/footer"%>
</body>
</html>
